<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Duplicados</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous" />
    <link rel="stylesheet" href="https://cdn.datatables.net/1.13.5/css/jquery.dataTables.min.css" />
    <link rel="stylesheet" href="https://cdn.datatables.net/buttons/2.4.0/css/buttons.dataTables.min.css" />


</head>

<body>
    <main class="container">
        <div class="row text-center justify-content-center">
            <div class="col">
                <h1 class="display-4">Eliminar duplicados</h1>
            </div>
            <p>Hace una comparación entre la <strong>Columna1</strong> y <strong>Columna2</strong>, solo dejando los
                datos que existen en <strong>Columna1</strong> y no en<strong>Columna2</strong></p>
        </div>

        <form id="form" method="post">
            <div class="row">
                <div class="col-6">
                    <div class="mb-3">
                        <label for="exampleFormControlTextarea1" id="label1" class="form-label"><strong>Columna
                                1</strong></label>
                        <textarea class="form-control" id="exampleFormControlTextarea1" name="ntextarea1" rows="15"
                            tabindex="1"></textarea>
                    </div>
                    <button class="btn btn-primary" type="submit">Realizar comparacion</button>

                </div>
                <div class="col-6">
                    <div class="mb-3">
                        <label for="exampleFormControlTextarea2" id="label2" class="form-label"><strong>Columna
                                2</strong></label>
                        <textarea class="form-control" id="exampleFormControlTextarea2" name="ntextarea2" rows="15"
                            tabindex="2"></textarea>
                    </div>
                    <button class="btn btn-danger" type="button" id="btn-limpiar">Limpiar campos</button>

                </div>
            </div>
        </form>
        <br>
        <div class="row">
            <div class="col col-md-6">
                <div class="accordion" id="accordionExample">
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="headingTwo">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                Mostrar datos que están en A y no están en B
                            </button>
                        </h2>
                        <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo"
                            data-bs-parent="#accordionExample">
                            <div class="accordion-body">
                                <table id="example" class="display nowrap" style="width:100%">
                                    <thead>
                                        <tr>
                                            <th>Fila</th>
                                            <th>Codigo</th>
                                            <th>Accion</th>
                                        </tr>
                                    </thead>
                                    <tbody>

                                    </tbody>
                                    <tfoot>
                                        <tr>
                                            <th>Fila</th>
                                            <th>Codigo</th>
                                            <th>Accion</th>
                                        </tr>
                                    </tfoot>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col col-md-6">
                <div class="accordion" id="accordionExample3">
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="headingTres">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                data-bs-target="#collapseTres" aria-expanded="false" aria-controls="collapseTres">
                                Mostrar datos que estan en B y no están en A
                            </button>
                        </h2>
                        <div id="collapseTres" class="accordion-collapse collapse" aria-labelledby="headingTres"
                            data-bs-parent="#accordionExample3">
                            <div class="accordion-body">
                                <table id="example2" class="display nowrap" style="width:100%">
                                    <thead>
                                        <tr>
                                            <th>Fila</th>
                                            <th>Codigo</th>
                                            <th>Accion</th>
                                        </tr>
                                    </thead>
                                    <tbody>

                                    </tbody>
                                    <tfoot>
                                        <tr>
                                            <th>Fila</th>
                                            <th>Codigo</th>
                                            <th>Accion</th>
                                        </tr>
                                    </tfoot>
                                </table>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
            <!-- <div class="col col-md-6">
                <div class="accordion" id="accordionExample4">
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="headingCuatro">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                data-bs-target="#collapseCuatro" aria-expanded="false" aria-controls="collapseCuatro">
                                Mostrar duplicados
                            </button>
                        </h2>
                        <div id="collapseCuatro" class="accordion-collapse collapse" aria-labelledby="headingCuatro"
                            data-bs-parent="#accordionExample4">
                            <div class="accordion-body">
                                <table id="example4" class="display nowrap" style="width:100%">
                                    <thead>
                                        <tr>
                                            <th>Fila</th>
                                            <th>Codigo</th>
                                            <th>Cantidad</th>
                                        </tr>
                                    </thead>
                                    <tbody>

                                    </tbody>
                                    <tfoot>
                                        <tr>
                                            <th>Fila</th>
                                            <th>Codigo</th>
                                            <th>Cantidad</th>
                                        </tr>
                                    </tfoot>
                                </table>
                            </div>
                        </div>
                    </div>

                </div>
            </div> -->




        </div>
    </main>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4"
        crossorigin="anonymous"></script>


    <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
    <script src="https://cdn.datatables.net/1.13.5/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/2.4.0/js/dataTables.buttons.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/pdfmake.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/vfs_fonts.js"></script>
    <script src="https://cdn.datatables.net/buttons/2.4.0/js/buttons.html5.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/2.4.0/js/buttons.print.min.js"></script>


</body>
<script type="text/javascript">

    document.addEventListener('DOMContentLoaded', function () {

        $('#example').DataTable({
            dom: 'l<>frtip',
            lengthMenu: [10, 25, 50, 100],
            pageLength: 10,
            buttons: [
                {
                    extend: 'excel',
                    filename: `duplicados-${timestamp()}`
                },
                {
                    extend: 'csv',
                    filename: `duplicados-${timestamp()}`
                },
            ],
            language: {
                search: "Buscar:",
                lengthMenu: "Mostrar _MENU_ entradas",
                info: "Mostrando _START_ a _END_ de _TOTAL_ entradas",
                infoEmpty: "Mostrando 0 a 0 de 0 entradas",
                infoFiltered: "(filtrado de _MAX_ entradas totales)",
                zeroRecords: "No se encontraron resultados",
                paginate: {
                    first: "Primero",
                    last: "Último",
                    next: "Siguiente",
                    previous: "Anterior"
                }
            },
            columns: [
                { "data": "Fila", width: '10%' },
                { "data": "Codigo" },
                { "data": "Accion", width: '20%' }
            ]
        });

        function timestamp() {
            const now = new Date();
            const formattedDate = `${now.getFullYear()}-${(now.getMonth() + 1).toString().padStart(2, '0')}-${now.getDate().toString().padStart(2, '0')}_${now.getHours().toString().padStart(2, '0')}-${now.getMinutes().toString().padStart(2, '0')}-${now.getSeconds().toString().padStart(2, '0')}`;
            return formattedDate;
        }

        /*
        function countLines(textarea) {
            let lines = textarea.value.split('\n');
            let lineCount = lines.length;
            for (let i = 0; i < lines.length; i++) {
                if (lines[i].length === 0) {
                    lineCount--;
                }
            }
            return lineCount;
        }
    
        let textarea = document.getElementById('exampleFormControlTextarea1');
        let label = document.getElementById('label1');
        textarea.addEventListener('input', function(e) {
            if (e.inputType === 'insertFromPaste') {
    
                let lineCount = countLines(textarea);
                label.innerHTML = 'Líneas: ' + lineCount;
            }
        });
        */

        let textarea = document.getElementById('exampleFormControlTextarea1');
        let textarea2 = document.getElementById('exampleFormControlTextarea2');
//         textarea.value = `Odysseus Villarreal
// Devin Mcclain
// Cruz Cain
// Alden Hewitt
// Ryan Mcdowell
// Alika Bridges
// Jordan Juarez
// Vivien Ballard
// Ruby Calhoun
// Portia Rutledge
// Helen Miller
// Sophia Cash
// Signe Sanders
// Charissa Roberts
// Armando Bray
// Vanna Romero
// Jerome Malone
// Magee Curtis
// Ferris Porter
// Charissa Roberts
// Armando Bray
// Vanna Romero
// Jerome Malone
// Magee Curtis
// Ferris Porter`;
//         textarea2.value = `Odysseus Villarreal
// Devin Mcclain
// Cruz Cain
// Alden Hewitt
// Ryan Mcdowell
// Alika Bridges
// Jordan Juarez
// Vivien Ballard
// Ruby Calhoun
// Portia Rutledge
// Helen Miller
// Sophia Cash
// Signe Sanders
// Charissa Roberts
// Armando Bray
// Vanna Romero
// Jerome Malone
// Magee Curtis
// Ferris Porter
// Dorian Morales
// Berk Estes
// Tanner Franks
// Gage Castillo
// Quinn Mcdowell
// `;

        let label = document.getElementById('label1');
        let label2 = document.getElementById('label2');

        function countLines(textareap) {
            let lines = textareap.value.split('\n');
            let lineCount = lines.length;
            for (let i = 0; i < lines.length; i++) {
                if (lines[i].length === 0) {
                    lineCount--;
                }
            }
            return lineCount;
        }

        textarea.addEventListener('input', function () {
            let lineCount = countLines(this);
            label.innerHTML = `<strong>Columna 1</strong> - Líneas: ${lineCount}`;
        });

        textarea2.addEventListener('input', function () {
            let lineCount = countLines(this);
            label2.innerHTML = `<strong>Columna 2</strong> - Líneas: ${lineCount}`;
        });



        const form = document.getElementById('form');
        form.addEventListener('submit', (event) => {
            event.preventDefault();
            const formulario = new FormData(form);
            fetch('{% url "post_request" %}', {
                method: 'POST',
                body: formulario
            })
                .then(response => {
                    // console.log(response);
                    if (!response.ok) {
                        throw new Error(`Error HTTP: ${response.status}`);
                    }
                    // console.log(response);
                    return response.json();
                })
                .then(respuesta => {
                    let resp = respuesta["result"];
                    const jsonObject = JSON.parse(resp);
                    const dataArray = Object.entries(jsonObject).map(([key, value]) => ({ 'Fila': key, 'Codigo': value, 'Accion': '<button class="btn btn-success copy-btn">Copiar</button>' }));

                    const table = $('#example').DataTable();
                    table.rows().remove();
                    table.rows.add(dataArray).draw();
                    $('#example tbody').on('click', '.copy-btn', function () {
                        const table = $('#example').DataTable();
                        const data = table.cell($(this).closest('tr'), 1).data();
                        navigator.clipboard.writeText(data)
                        console.log(this);

                        this.innerHTML = `Copiado <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-check-square" viewBox="0 0 16 16">
                <path d="M14 1a1 1 0 0 1 1 1v12a1 1 0 0 1-1 1H2a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1h12zM2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2z"/>
                <path d="M10.97 4.97a.75.75 0 0 1 1.071 1.05l-3.992 4.99a.75.75 0 0 1-1.08.02L4.324 8.384a.75.75 0 1 1 1.06-1.06l2.094 2.093 3.473-4.425a.235.235 0 0 1 .02-.022z"/>
                </svg>`;

                        setTimeout(() => {
                            this.textContent = 'Copiar';
                        }, 1700);

                    });


                    let resp2 = respuesta["result2"];
                    const jsonObject2 = JSON.parse(resp2);
                    const dataArray2 = Object.entries(jsonObject2).map(([key, value]) => ({ 'Fila': key, 'Codigo': value, 'Accion': '<button class="btn btn-success copy-btn">Copiar</button>' }));

                    const table2 = $('#example2').DataTable();
                    table2.rows().remove();
                    table2.rows.add(dataArray2).draw();
                    $('#example2 tbody').on('click', '.copy-btn', function () {
                        const table2 = $('#example2').DataTable();
                        const data = table2.cell($(this).closest('tr'), 1).data();
                        navigator.clipboard.writeText(data)
                        console.log(this);

                        this.innerHTML = `Copiado <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-check-square" viewBox="0 0 16 16">
                <path d="M14 1a1 1 0 0 1 1 1v12a1 1 0 0 1-1 1H2a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1h12zM2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2z"/>
                <path d="M10.97 4.97a.75.75 0 0 1 1.071 1.05l-3.992 4.99a.75.75 0 0 1-1.08.02L4.324 8.384a.75.75 0 1 1 1.06-1.06l2.094 2.093 3.473-4.425a.235.235 0 0 1 .02-.022z"/>
                </svg>`;

                        setTimeout(() => {
                            this.textContent = 'Copiar';
                        }, 1700);

                    });

                    let resp4 = respuesta["duplicados"];
                    const jsonObject4 = JSON.parse(resp4);
                    console.log(jsonObject4);
                    const dataArray4 = Object.entries(jsonObject4).map(([key, value]) => ({ 'Fila': key, 'Codigo': value, 'Accion': '<button class="btn btn-success copy-btn">Copiar</button>' }));

                    const table4 = $('#example4').DataTable();
                    table4.rows().remove();
                    table4.rows.add(dataArray4).draw();
                    $('#example2 tbody').on('click', '.copy-btn', function () {
                        const table4 = $('#example4').DataTable();
                        const data = table4.cell($(this).closest('tr'), 1).data();
                        navigator.clipboard.writeText(data)
                        console.log(this);


                        setTimeout(() => {
                            this.textContent = 'Copiar';
                        }, 1700);

                    });





                })
                .catch(error => console.log(error));
        });


        let btnLimpiar = document.querySelector("#btn-limpiar");
        btnLimpiar.addEventListener('click', function () {
            textarea.value = "";
            textarea2.value = "";
        });


        $('#example2').DataTable({
            dom: 'l<>frtip',
            lengthMenu: [10, 25, 50, 100],
            pageLength: 10,
            language: {
                search: "Buscar:",
                lengthMenu: "Mostrar _MENU_ entradas",
                info: "Mostrando _START_ a _END_ de _TOTAL_ entradas",
                infoEmpty: "Mostrando 0 a 0 de 0 entradas",
                infoFiltered: "(filtrado de _MAX_ entradas totales)",
                zeroRecords: "No se encontraron resultados",
                paginate: {
                    first: "Primero",
                    last: "Último",
                    next: "Siguiente",
                    previous: "Anterior"
                }
            },
            columns: [
                { "data": "Fila", width: '10%' },
                { "data": "Codigo" },
                { "data": "Accion", width: '20%' }
            ]
        });

        $('#example4').DataTable({
            dom: 'l<>frtip',
            lengthMenu: [10, 25, 50, 100],
            pageLength: 10,
            buttons: [
                {
                    extend: 'excel',
                    filename: `duplicados-${timestamp()}`
                },
                {
                    extend: 'csv',
                    filename: `duplicados-${timestamp()}`
                },
            ],
            language: {
                search: "Buscar:",
                lengthMenu: "Mostrar _MENU_ entradas",
                info: "Mostrando _START_ a _END_ de _TOTAL_ entradas",
                infoEmpty: "Mostrando 0 a 0 de 0 entradas",
                infoFiltered: "(filtrado de _MAX_ entradas totales)",
                zeroRecords: "No se encontraron resultados",
                paginate: {
                    first: "Primero",
                    last: "Último",
                    next: "Siguiente",
                    previous: "Anterior"
                }
            },
            columns: [
                { "data": "Fila", width: '10%' },
                { "data": "Codigo" },
                { "data": "Accion", width: '20%' }
            ]
        });


    });
</script>

</html>